// ref: https://vuetifyjs.com/en/features/sass-variables/#variable-api
@use 'variables';

// Overwrite Vuetify component's SASS Variables
@use 'vuetify/settings' with (
  $field-outline-opacity: 0.38,  
  $font-size-root: 14px,

  // buttons - - - - - - - - - - - -  
  $button-text-transform: initial,

  // typography - - - - - - - - - - - -
  $typography: 
    (
      'h1': (
        'size': map-get(variables.$headings, 'h1', 'size'),
        'weight': map-get(variables.$headings, 'h1', 'weight'),
        'line-height': map-get(variables.$headings, 'h1', 'line-height'),
        'font-family': map-get(variables.$headings, 'h1', 'font-family'),
      ),
      'h2': (
        'size': map-get(variables.$headings, 'h2', 'size'),
        'weight': map-get(variables.$headings, 'h2', 'weight'),
        'line-height': map-get(variables.$headings, 'h2', 'line-height'),
        'font-family': map-get(variables.$headings, 'h2', 'font-family'),
      ),
      'h3': (
        'size': map-get(variables.$headings, 'h3', 'size'),
        'weight': map-get(variables.$headings, 'h3', 'weight'),
        'line-height': map-get(variables.$headings, 'h3', 'line-height'),
        'font-family': map-get(variables.$headings, 'h3', 'font-family'),
      ),
      'h4': (
        'size': map-get(variables.$headings, 'h4', 'size'),
        'weight': map-get(variables.$headings, 'h4', 'weight'),
        'line-height': map-get(variables.$headings, 'h4', 'line-height'),
        'font-family': map-get(variables.$headings, 'h4', 'font-family'),
      ),
      'h5': (
        'size': map-get(variables.$headings, 'h5', 'size'),
        'weight': map-get(variables.$headings, 'h5', 'weight'),
        'line-height': map-get(variables.$headings, 'h5', 'line-height'),
        'font-family': map-get(variables.$headings, 'h5', 'font-family'),
      ),
      'subtitle-1': (
        'size': map-get(variables.$headings, 'subtitle-1', 'size'),
        'weight': map-get(variables.$headings, 'subtitle-1', 'weight'),
        'line-height': map-get(variables.$headings, 'subtitle-1', 'line-height'),
        'font-family': map-get(variables.$headings, 'subtitle-1', 'font-family'),
      ),
      'subtitle-2': (
        'size': map-get(variables.$headings, 'subtitle-2', 'size'),
        'weight': map-get(variables.$headings, 'subtitle-2', 'weight'),
        'line-height': map-get(variables.$headings, 'subtitle-2', 'line-height'),
        'font-family': map-get(variables.$headings, 'subtitle-2', 'font-family'),
      ),
      'body-1': (
        'size': map-get(variables.$headings, 'body-1', 'size'),
        'weight': map-get(variables.$headings, 'body-1', 'weight'),
        'line-height': map-get(variables.$headings, 'body-1', 'line-height'),
        'font-family': map-get(variables.$headings, 'body-1', 'font-family'),
        'letter-spacing': map-get(variables.$headings, 'body-1', 'font-family'),
      ),
      'body-2': (
        'size': map-get(variables.$headings, 'body-2', 'size'),
        'weight': map-get(variables.$headings, 'body-2', 'weight'),
        'line-height': map-get(variables.$headings, 'body-2', 'line-height'),
        'font-family': map-get(variables.$headings, 'body-2', 'font-family'),
        'letter-spacing': map-get(variables.$headings, 'body-2', 'font-family'),
      ),
      'button': (
        'size': map-get(variables.$headings, 'button', 'size'),
        'weight': map-get(variables.$headings, 'button', 'weight'),
        'line-height': map-get(variables.$headings, 'button', 'line-height'),
        'font-family': map-get(variables.$headings, 'button', 'font-family'),
        'text-transform': uppercase,
      )
    ),

  // cards - - - - - - - - - - - - - - -
  $card-elevation: 1,

  // sheets  - - - - - - - - - - - - - -
  $sheet-border-radius: variables.$border-radius-root,

  // panels  - - - - - - - - - - - - - -
  $expansion-panel-border-radius: 0,

  // tooltip - - - - - - - - - - - - - - -
  $tooltip-background-color: rgb(var(--v-theme-grey-base)),
  $tooltip-transition-enter-duration: 0s,
  $tooltip-transition-leave-duration: 0s,  
  $tooltip-border-radius: 4px,
  $tooltip-padding: 8px 12px,

  // toolbar - - - - - - - - - - - - - -
  $toolbar-btn-icon-size: '34px'
);
